<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TravIngo | Landing Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <!-- <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
            document.getElementById('menu').style.width = '500px';
            document.getElementById('content').style.marginLeft = '500px';
        }
        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
        }
    </script> -->
  <link rel="stylesheet" href="stylesheets/landing.css">
</head>

<body>

  <section class="showcase">
    <header>
      <h2 class="logo">TravIngo</h2>
      <div class="toggle"></div>
    </header>

    <video src="/video/hotel.mp4" muted loop autoplay></video>

    <div class="overlay"></div>

    <div class="text">
      <h2>Never Stop</h2>
      <h3>Exploring The World</h3>
      <p>Something about TravIngo</p>
      <a href="#">Explore</a>
    </div>

    <ul class="social">
      <li> <a href="#"> <i class="fab fa-facebook fa-3x" aria-hidden="true"></i> </a></li>
      <li><a href="#"> <i class="fab fa-twitter fa-3x" aria-hidden="true"></i> </a></li>
      <li><a href="#"> <i class="fab fa-instagram fa-3x" aria-hidden="true"></i> </a> </li>
    </ul>

  </section>

  <section class="footer">

  </section>

  <div class="menu">
    <div class="close">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
    </div>

    <ul class="navigation">
      <li> <a href="/home">Home</a> </li>
      <li> <a href="/register">Login/Register</a> </li>
      <li> <a href="#">About</a> </li>
      <li> <a href="#">Contact</a> </li>
    </ul>
  </div>

  <script src="/javascripts/landing.js"></script>
</body>

</html>