<div
  class="row row-cols-1 row-cols-md-3 d-flex flex-wrap justify-content-center"
>
  <% hotels.forEach((hotel)=>{%>
  <div class="col mb-4">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row">
        <div class="col-md-5">
          <img
            src="<%= hotel.imagePath %> "
            class="card-img"
            alt="Hotel"
            class="img-responsive"
          />
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title"><%= hotel.title %></h5>
            <p class="card-text"><%= hotel.description %></p>
            <p class="card-text">
              <small class="text-muted"><%= hotel.price %></small>
            </p>
            <a href="#" class="card-link">Book Now</a>
            <a href="#" class="card-link">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%})%>
</div>
